body {
	padding-top: 70px;
}
.navbar-fixed-top{
	background-color:#C94545;
}
.navbar-nav  > li > a{
	color:white !important;
	font-size: 24px;
}
.navbar-nav > li{
	border-radius:3px;
	margin-left:20px;
	margin-right:20px;
}
.navbar-nav > li:hover{
	background-color:rgba(0,0,0,0.1)
}
.navbar-brand > img{
	z-index: 9999;
	height:50px;
	width:50px;
	top:0px;
}