<div class="container container-main">
  <div class="jumbotron">
	<center>
		<h1>About SublimusAPI</h1>
		<br>
		<br>
		<p>SublimusAPI is meant to make your life easier when accessing web-content and allow you not to have to write your own API</p>
		<p>You can send requests to the API and it will return the required data (or set it)</p>
		<p>You can get a module script to use this API <a target="_blank" href="https://www.roblox.com/SublimusAPI-item?id=400529898">HERE</a></p>
		<p>You can use the API to manage groups</a>
		<p>You can also use the group management console to manage your group</p>
	</center>
  </div>
</div>
