<div class="container container-main">
  <div class="jumbotron">
	<center id="apilist">
		<h1>API List</h1>
		<br>
		<br>
		<h2>User APIs</h2>
		<br>
		<h3>getUsernameById</h3>
		<p>Send a <code>GET</code> request to <code>http://SublimusAPI.us.to/apis/getUsernameById/USERID</code> to get username of a player by ID</p>
		<hr>
		<h3>getIdByUsername</h3>
		<p>Send a <code>GET</code> request to <code>http://SublimusAPI.us.to/apis/getIdByUsername/USERNAME</code> to get ID of a player by username</p>
	</center>
  </div>
</div>