<div class="container container-main">
  <div class="jumbotron">
	<center id="apilist">
		<h1>API List</h1>
		<br>
		<br>
		<h2>User APIs</h2>
		<br>
		<h3>getUsernameById</h3>
		<p>Send a <code>GET</code> request to <code>http://SublimusAPI.us.to/apis/getUsernameById/USERID</code> to get username of a player by ID</p>
		<hr>
		<h3>getIdByUsername</h3>
		<p>Send a <code>GET</code> request to <code>http://SublimusAPI.us.to/apis/getIdByUsername/USERNAME</code> to get ID of a player by username</p>
		<hr>
		<h3>userCanManageAsset</h3>
		<p>Send a <code>GET</code> request to <code>http://SublimusAPI.us.to/apis/userCanManageAsset/USERID/ASSETID</code> to get whether a user can manage an asset or not</p>
		<hr>
		<h3>userHasAsset</h3>
		<p>Send a <code>GET</code> request to <code>http://SublimusAPI.us.to/apis/userHasAsset/USERID/ASSETID</code> to get whether a user has an asset or not</p>
		<hr>
		<br>
		<h2>Asset APIs</h2>
		<br>
		<h3>getMarketplaceInfo</h3>
		<p>Send a <code>GET</code> request to <code>http://SublimusAPI.us.to/apis/getMarketplaceInfo/ASSETID</code> to get the info of an asset (marketplace, or not, this includes places), returned as a JSON encoded string that decodes as follows:</p>
		</center>
		<code>
{<br>
	&nbsp;&nbsp;&nbsp;&nbsp;["AssetID"] = long,<br>
	&nbsp;&nbsp;&nbsp;&nbsp;["ProductID"] = long,<br>
	&nbsp;&nbsp;&nbsp;&nbsp;["Name"] = string,<br>
	&nbsp;&nbsp;&nbsp;&nbsp;["Description"] = string,<br>
	&nbsp;&nbsp;&nbsp;&nbsp;["AssetTypeId"] = integer,<br>
	&nbsp;&nbsp;&nbsp;&nbsp;["Creator"] = {<br>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;["Id"] = integer,<br>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;["Name"] = string<br>
				  &nbsp;&nbsp;&nbsp;&nbsp;}<br>
	&nbsp;&nbsp;&nbsp;&nbsp;["IconImageAssetId"] = long,<br>
	&nbsp;&nbsp;&nbsp;&nbsp;["Created"] = string,<br>
	&nbsp;&nbsp;&nbsp;&nbsp;["Updated"] = string,<br>
	&nbsp;&nbsp;&nbsp;&nbsp;["PriceInRobux"] = integer,<br>
	&nbsp;&nbsp;&nbsp;&nbsp;["PriceInTickets"] = null, -- Deprecated<br>
	&nbsp;&nbsp;&nbsp;&nbsp;["Sales"] = integer,<br>
	&nbsp;&nbsp;&nbsp;&nbsp;["IsNew"] = boolean,<br>
	&nbsp;&nbsp;&nbsp;&nbsp;["IsForSale"] = boolean,<br>
	&nbsp;&nbsp;&nbsp;&nbsp;["IsPublicDomain"] = boolean,<br>
	&nbsp;&nbsp;&nbsp;&nbsp;["IsLimited"] = boolean,<br>
	&nbsp;&nbsp;&nbsp;&nbsp;["IsLimitedUnique"] = boolean,<br>
	&nbsp;&nbsp;&nbsp;&nbsp;["Remaining"] = integer or null,<br>
	&nbsp;&nbsp;&nbsp;&nbsp;["MinimumMembershipLevel"] = integer,<br>
	&nbsp;&nbsp;&nbsp;&nbsp;["ContentRatingTypeId"] = integer<br>
}
		</code>
  </div>
</div>